.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  animation: fadein 2s ease-in-out forwards;
  & .header-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    & h2 {
      color: #111;
      text-transform: uppercase;
      font-weight: 900;
      font-size: 1.5rem;
      max-width: 80%;
    }
  }
  & .img-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 1rem;
    width: 100%;
    & img {
      max-width: 100%;
    }
    & img:nth-child(3) {
      object-fit: cover;
      grid-column-start: 1;
      grid-column-end: 3;
      max-height: 20rem;
      width: 100%;
    }
  }
}
@media screen and (max-width: 900px) {
  .section {
    display: flex;
    flex-direction: column;
    width: 100%;
    animation: fadein 2s ease-in-out forwards;
    & .header-text {
      & h2 {
        color: #111;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 1.2rem;
        max-width: 100%;
        margin: 0;
      }
    }
    & .img-grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      gap: 1rem;
      width: 100%;
      margin-bottom: 2rem;
      & img {
        max-width: 100%;
      }
      & img:nth-child(3) {
        object-fit: cover;
        grid-column-start: 1;
        grid-column-end: 1;
        max-height: unset;
        width: 100%;
      }
    }
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
    transform: translate3d(-20vw, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0vw, 0, 0);
  }
}
