.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  & ul {
    display: flex;
    align-items: center;
    padding: 0;
    & a {
      text-decoration: none;
    }
    & li {
      list-style: none;
      color: #666;
      font-size: 0.9rem;
      margin: 0 0.5rem;
    }
  }
  & h1 {
    font-weight: 900;
    font-size: 2.5rem;
    text-transform: uppercase;
    line-height: 1.5;
    animation: fadein 2s ease-in-out forwards;
  }
  & .divider {
    height: 3px;
    width: 200px;
    background: #999;
    display: block;
    margin: 1rem 0;
    animation: fadein 2.2s ease-in-out forwards;
  }
  & .img-box {
    margin: 1rem 0;
    height: 20rem;
    width: 100%;
    display: block;
    background: url("https://images.clickfunnels.com/ea/938d73b6c04ac6a946aa797de576e1/debt-help.jpg");
    background-size: cover;
    background-position: center;
    animation: fadeinfromright 2.1s ease-in-out forwards;
  }
  & .text-box {
    animation: fadein 2.2s ease-in-out forwards;
  }
  & .header-description {
    background: #eee;
    padding: 1rem;
    color: #666;
    border-radius: 3px;
    font-style: italic;
    font-size: 0.9rem;
  }
  & .social-links {
    display: flex;
    align-items: center;
    & .row {
      display: flex;
      align-items: center;
      margin-right: 1rem;
    }
    & .stars {
      & i {
        color: gold;
      }
    }
    & .social {
      & i {
        margin-right: 1rem;
        font-size: 1.2rem;
      }
      & i:nth-child(1) {
        color: #00acee;
      }
      & i:nth-child(2) {
        color: #3b5998;
      }
      & i:nth-child(3) {
        background: linear-gradient(
          #405de6,
          #5851db,
          #833ab4,
          #c13584,
          #e1306c,
          #fd1d1d,
          #f56040,
          #f77737,
          #fcaf45,
          #ffdc80
        );
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .header {
    display: flex;
    flex-direction: column;
    width: 100%;
    & h1 {
      font-weight: 900;
      font-size: 1.5rem;
      text-transform: uppercase;
      line-height: 1.5;
      animation: fadein 2s ease-in-out forwards;
    }
    & .divider {
      height: 3px;
      width: 200px;
      background: #999;
      display: block;
      margin: 1rem 0;
      animation: fadein 2.2s ease-in-out forwards;
    }
    & .img-box {
      margin: 1rem 0;
      height: 10rem;
      width: 100%;
      display: block;
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
      animation: fadeinfromright 2.1s ease-in-out forwards;
    }
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translate3d(-20vw, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0vw, 0, 0);
  }
}
@keyframes fadeinfromright {
  0% {
    opacity: 0;
    transform: translate3d(30vw, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0vw, 0, 0);
  }
}
