@import url("https://use.typekit.net/bqg4hdi.css");

@import "./nav";
@import "./header";
@import "./body";
@import "./ad";
@import "./footer";

:root {
  --brand-main: #ef41fa;
  --text-color: #666;
  --text-dark: #111;
  --text-medium: "#333";
}

body,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
label,
a {
  font-family: roboto-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem 0rem;
  & .container-cstm {
    min-width: 60vw;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-items: center;
    gap: 2rem;
    margin: 6rem 2rem;
    & a {
      margin: 2rem 0;
    }
    & .inner-container-cstm {
      min-width: 62vw;
    }
  }
}

.text-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem 0;
  & p {
    color: #666;
    line-height: 1.5;
    max-width: 80%;
    font-size: 1.2rem;
    margin: 0;
  }
}

@media screen and (max-width: 900px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 2rem 0;
    margin-top: 13vh;
    & .container-cstm {
      min-width: 60vw;
      max-width: 100%;
      display: flex;
      margin: 0 1.5rem;
      & a {
        margin: 2rem 0;
      }
    }
  }
  .text-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1.5rem 0;
    & p {
      color: #666;
      line-height: 1.5;
      max-width: 100%;
      font-size: 1rem;
      margin: 0;
    }
  }
}
