@import url("https://use.typekit.net/bqg4hdi.css");
.menu-desktop {
  min-height: 7rem;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 10px #eee;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999999; }
  .menu-desktop a {
    text-decoration: none;
    color: #666;
    text-transform: uppercase; }
    .menu-desktop a img {
      max-width: 10rem; }
  .menu-desktop .nav-left {
    display: flex;
    margin-left: 1rem; }
  .menu-desktop .nav-right {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 1rem;
    margin-right: 1rem; }
    .menu-desktop .nav-right a {
      transition: all 0.3s ease; }
      .menu-desktop .nav-right a::after {
        display: block;
        content: "";
        background: var(--brand-main);
        height: 3px;
        width: 0px;
        transition: all 0.3s ease; }
      .menu-desktop .nav-right a:hover {
        color: var(--brand-main); }
        .menu-desktop .nav-right a:hover::after {
          width: 100%; }

.menu-mobile {
  display: none;
  visibility: hidden; }

@media screen and (max-width: 900px) {
  .menu-desktop {
    display: none;
    visibility: hidden; }
  .menu-mobile {
    min-height: 5rem;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 10px #eee;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999999;
    display: flex;
    visibility: visible; }
    .menu-mobile a {
      text-decoration: none;
      color: #666;
      text-transform: uppercase; }
      .menu-mobile a img {
        max-width: 10rem; }
    .menu-mobile .nav-left {
      display: flex;
      margin-left: 1rem;
      z-index: 9999999; }
    .menu-mobile .slide-in-nav {
      position: absolute;
      transform: translate3d(0, -100vh, 0);
      visibility: hidden;
      transition: all 1s ease;
      z-index: 99999;
      height: 100vh;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: #fff;
      width: 100%; }
      .menu-mobile .slide-in-nav a {
        font-size: 2rem;
        margin: 1rem 0; }
    .menu-mobile .open {
      top: 0;
      transform: translate3d(0, 0, 0);
      visibility: visible;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: #fff;
      width: 100%;
      transition: all 1s ease; }
    .menu-mobile .hamburger {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: transparent;
      border: 0;
      width: 3.5rem;
      height: 1.4rem;
      margin-right: 1rem;
      z-index: 99999999; }
      .menu-mobile .hamburger span {
        height: 2px;
        width: 100%;
        background: #666;
        display: block;
        border-radius: 100px; } }

.header {
  display: flex;
  flex-direction: column;
  width: 100%; }
  .header h1 {
    font-weight: 900;
    font-size: 2.5rem;
    text-transform: uppercase;
    line-height: 1.5;
    animation: fadein 2s ease-in-out forwards; }
  .header .divider {
    height: 3px;
    width: 200px;
    background: #999;
    display: block;
    margin: 1rem 0;
    animation: fadein 2.2s ease-in-out forwards; }
  .header .img-box {
    margin: 1rem 0;
    height: 20rem;
    width: 100%;
    display: block;
    background: url("https://images.clickfunnels.com/ea/938d73b6c04ac6a946aa797de576e1/debt-help.jpg");
    background-size: cover;
    background-position: center;
    animation: fadeinfromright 2.1s ease-in-out forwards; }
  .header .text-box {
    animation: fadein 2.2s ease-in-out forwards; }

@media screen and (max-width: 900px) {
  .header {
    display: flex;
    flex-direction: column;
    width: 100%; }
    .header h1 {
      font-weight: 900;
      font-size: 1.5rem;
      text-transform: uppercase;
      line-height: 1.5;
      animation: fadein 2s ease-in-out forwards; }
    .header .divider {
      height: 3px;
      width: 200px;
      background: #999;
      display: block;
      margin: 1rem 0;
      animation: fadein 2.2s ease-in-out forwards; }
    .header .img-box {
      margin: 1rem 0;
      height: 10rem;
      width: 100%;
      display: block;
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
      animation: fadeinfromright 2.1s ease-in-out forwards; } }

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translate3d(-20vw, 0, 0); }
  100% {
    opacity: 1;
    transform: translate3d(0vw, 0, 0); } }

@keyframes fadeinfromright {
  0% {
    opacity: 0;
    transform: translate3d(30vw, 0, 0); }
  100% {
    opacity: 1;
    transform: translate3d(0vw, 0, 0); } }

.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  animation: fadein 2s ease-in-out forwards; }
  .section .header-text {
    width: 100%;
    display: flex;
    flex-direction: column; }
    .section .header-text h2 {
      color: #111;
      text-transform: uppercase;
      font-weight: 900;
      font-size: 1.5rem;
      max-width: 80%; }
  .section .img-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 1rem;
    width: 100%; }
    .section .img-grid img {
      max-width: 100%; }
    .section .img-grid img:nth-child(3) {
      object-fit: cover;
      grid-column-start: 1;
      grid-column-end: 3;
      max-height: 20rem;
      width: 100%; }

@media screen and (max-width: 900px) {
  .section {
    display: flex;
    flex-direction: column;
    width: 100%;
    animation: fadein 2s ease-in-out forwards; }
    .section .header-text h2 {
      color: #111;
      text-transform: uppercase;
      font-weight: 900;
      font-size: 1.2rem;
      max-width: 100%;
      margin: 0; }
    .section .img-grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      gap: 1rem;
      width: 100%;
      margin-bottom: 2rem; }
      .section .img-grid img {
        max-width: 100%; }
      .section .img-grid img:nth-child(3) {
        object-fit: cover;
        grid-column-start: 1;
        grid-column-end: 1;
        max-height: unset;
        width: 100%; } }

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translate3d(-20vw, 0, 0); }
  100% {
    opacity: 1;
    transform: translate3d(0vw, 0, 0); } }

.ad-right {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 20vw;
  min-width: 20vw;
  background: #eee;
  position: relative;
  padding: 0.5rem;
  z-index: 1;
  overflow: hidden; }
  .ad-right .ad-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    gap: 1rem;
    width: 100%;
    position: fixed;
    max-width: 20vw;
    top: 15%;
    z-index: 0; }
    .ad-right .ad-container a {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      text-decoration: none; }
    .ad-right .ad-container h2 {
      text-transform: uppercase;
      font-weight: 800;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .ad-right .ad-container h2::after {
        display: block;
        content: "";
        height: 2px;
        width: 100px;
        margin-top: 1rem;
        border-radius: 100px;
        background: var(--brand-main); }
    .ad-right .ad-container img {
      max-width: 90%; }
    .ad-right .ad-container p {
      text-align: center; }
    .ad-right .ad-container button {
      width: 100%;
      height: 3rem;
      background: var(--brand-main);
      color: #fff;
      border: 0;
      border-radius: 3px;
      font-weight: 700;
      font-size: 1.2rem;
      transition: all 0.3s ease; }
      .ad-right .ad-container button:hover {
        cursor: pointer;
        box-shadow: 0px 1px 10px var(--brand-main); }

.ad-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background: #eee;
  width: 100%;
  z-index: 111;
  position: relative;
  margin-top: 2rem; }
  .ad-block .ad-heading {
    width: 80%; }
    .ad-block .ad-heading h2 {
      text-transform: uppercase;
      font-size: 2rem; }
  .ad-block .ad-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(15rem, 17rem));
    justify-items: start;
    gap: 1rem;
    width: 80%; }
    .ad-block .ad-grid .ad-grid-col {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 15rem;
      background: #fff;
      padding: 1rem;
      transition: all 0.3s ease; }
      .ad-block .ad-grid .ad-grid-col:hover {
        box-shadow: 0 1px 20px #e1e1e1;
        transform: scale(1.05); }
      .ad-block .ad-grid .ad-grid-col a {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        text-decoration: none; }
        .ad-block .ad-grid .ad-grid-col a p {
          border-top: 1px solid #eee;
          padding-top: 1rem;
          margin-top: 1rem;
          text-decoration: none;
          color: var(--brand-main);
          font-weight: 800; }
        .ad-block .ad-grid .ad-grid-col a img {
          max-width: 100%; }

.native-ad {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-shadow: 0 1px 5px #eee;
  margin: 1rem 0; }
  .native-ad a {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    text-decoration: none; }
    .native-ad a span {
      background: var(--brand-main);
      color: #fff;
      border-radius: 3px;
      padding: 0.5rem;
      margin-right: 0.5rem; }
    .native-ad a h3,
    .native-ad a h5,
    .native-ad a p {
      margin: 0; }
    .native-ad a h3 {
      font-size: 2rem;
      color: #111;
      margin: 0.5rem 0;
      display: flex;
      align-items: center; }
    .native-ad a h5 {
      font-size: 1.5rem;
      text-decoration: underline;
      color: blue;
      margin: 0.5rem 0;
      display: flex;
      align-items: center; }
    .native-ad a p {
      color: #666;
      font-size: 1.2rem;
      margin: 0.5rem 0;
      display: flex;
      align-items: center; }

@media screen and (max-width: 900px) {
  .ad-right {
    display: none;
    visibility: hidden; }
  .ad-block .ad-grid {
    grid-template-columns: 1fr;
    justify-items: center; }
    .ad-block .ad-grid .ad-grid-col {
      max-width: 100%;
      width: 90%;
      padding: 1rem; } }

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #faf9f9;
  padding: 2rem;
  margin-top: 2vh; }
  .footer .footer-container {
    max-width: 90%;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 1rem; }
    .footer .footer-container .footer-col {
      display: flex;
      flex-direction: column; }
      .footer .footer-container .footer-col .logo {
        max-width: 10rem; }
      .footer .footer-container .footer-col a {
        text-decoration: none;
        color: #666;
        transition: all 0.3s ease; }
        .footer .footer-container .footer-col a:hover {
          cursor: pointer;
          color: var(--brand-main); }

@media screen and (max-width: 900px) {
  .footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background: #faf9f9;
    padding: 2rem;
    margin-top: 2vh; }
    .footer .footer-container {
      max-width: 90%;
      width: 90%;
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
      gap: 1rem; }
      .footer .footer-container .footer-col {
        display: flex;
        flex-direction: column; }
        .footer .footer-container .footer-col .logo {
          max-width: 10rem; }
        .footer .footer-container .footer-col a {
          text-decoration: none;
          color: #666;
          transition: all 0.3s ease;
          font-size: 1.2rem;
          text-align: center; }
          .footer .footer-container .footer-col a:hover {
            cursor: pointer;
            color: var(--brand-main); } }

:root {
  --brand-main: #ef41fa;
  --text-color: #666;
  --text-dark: #111;
  --text-medium: "#333"; }

body,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
label,
a {
  font-family: roboto-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px; }

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 2rem; }
  main .container-cstm {
    min-width: 60vw;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-items: center;
    gap: 2rem;
    margin: 6rem 2rem; }
    main .container-cstm a {
      margin: 2rem 0; }
    main .container-cstm .inner-container-cstm {
      min-width: 62vw; }
    main .container-cstm .section img {
      max-width: 100%; }

.text-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem 0; }
  .text-box p {
    color: #666;
    line-height: 1.5;
    max-width: 80%;
    font-size: 1.2rem;
    margin: 0; }

@media screen and (max-width: 900px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-top: 6rem; }
    main .container-cstm {
      min-width: 60vw;
      max-width: 100%;
      display: flex;
      margin: 0 1.5rem; }
      main .container-cstm a {
        margin: 2rem 0; }
  .text-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1.5rem 0; }
    .text-box p {
      color: #666;
      line-height: 1.5;
      max-width: 100%;
      font-size: 1rem;
      margin: 0; } }
